body {
	background-color: #00203F;
	font-family: 'Rock Salt', cursive;
	color: white;
	font-size: 30px;
	text-align: center;
}

div {
	/*display: inline-block;*/
}

.log {
	padding-bottom: 5em;
}

h1 {
	font-size: 30px;
	padding: 40px;
}

.welcome-user {
	font-size: 26px;
	padding: 25px;
}
label {
	font-size: 10px;
}

p {
 	padding-bottom: 2em;
}

.login-form, .signup-form, .search-barForm, button {
	font-size: 10px;
}

.login-form-submit, .signup-form-submit, .search-button, button {
	background-color: #5C1223;

}

.username-login-form, .password-login-form, .username-signup-form, .password-signup-form, .search-barForm {
	color: black;
}

.searchForm {
 
}

.search-button{
	font-size: 6.5px;
}

.wanted-movies, .search-movie-info {
 font-size: 11px;
}

.movie-posters {
	height: 226px;
	width: 132px;
	display: inline-block;
	margin-left: 5px;
}

img {
	width: 100%;
	height: 100%;
}

.user-movies {
	height: 22rem;
	white-space: nowrap;
	padding-bottom: 3rem;
	overflow: auto;
	overflow-x:scroll; 
	overflow-y:hidden;
}

.search-label {
	font-size: 14px;
}
/*Search Display*/

.search-image {
	height: 250px;
	width: 200px;
}

button {
	font-size: 10px;
	display: inline-block;
	padding: 5px;
	margin-left: 5px
}
